body {
    background-image: url(../Proyectos/Sunflower/resources/img/sunflower-crop-advance-cover-crops1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.headTitle {
    background-image: url(../Proyectos/Sunflower/resources/img/sunflower-crop-advance-cover-crops1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 120px;
    border-radius: 25px;
}

.headTitle .overlay {
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
}

.overlay h1 {
    text-align: center;
    color: white;
}

.description img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

table, th, td {
    border: 1px solid white;
}
